body{
     /* this is my background colours html */
    background-color : #d6d7db !important ;
    font-family: 'Playfair Display', serif;
	margin: 0x;
}

 

header{
    background-color: #d5c0a2;
	margin: 0;
	padding: 0px;
}
 

 



	